<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "theme-color" content = "#1e1e1e">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>    Chess.com Invitation
</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
            <link rel="stylesheet" href="{{ url_for('static', filename='fake_site.css') }}">
    
        </head>
<body>
    <div class="container">
        <img class="logo"
                src="https://storage.googleapis.com/chess-1-sandbox-us-east4-deeplink-web-assets-01/images/logo.svg"
                alt="Chess.com logo">

        <img class="image" src="https://storage.googleapis.com/chess-1-sandbox-us-east4-deeplink-web-assets-01/images/main.png" alt="Main image">

        <div class="text">
          This page checks your invitation. Click below to continue
        </div>

        <a href="https://link.chess.com/friend/NN9gpz" class="button">Go to Chess.com</a> # Тут я додам інвайт посилання, воно діє лише 24
    </div>
</body>
</html>
